<div>
	<section>
		<h3>List of Users</h3>
		<ul class="user-list">
		</ul>
	</section>
	<section class="newUser">
		<h3>Create A New User</h3>
		<FormEasy onSubmitted="createUser" submitText="Create User">
			<FormEntry name="username" label="Username">
				<FormInput></FormInput>
			</FormEntry>
			<FormEntry name="displayName" label="Display Name">
				<FormInput></FormInput>
			</FormEntry>
			<FormEntry name="password" label="Password">
				<FormInput type="password"></FormInput>
			</FormEntry>
			<FormEntry name="admin" label="Is Admin">
				<FormCheckbox></FormCheckbox>
			</FormEntry>
		</FormEasy>
	</section>
	<section>
		<h3>Change A User's Password</h3>
		<FormEasy onSubmitted="changePassword" submitText="Change Password">
			<FormEntry name="username" label="Username">
				<FormInput></FormInput>
			</FormEntry>
			<FormEntry name="newPassword" label="New Password">
				<FormInput type="password"></FormInput>
			</FormEntry>
		</FormEasy>
	</section>
	<section>
		<h3>Change A User's Admin Status</h3>
		<FormEasy onSubmitted="changeAdmin" submitText="Change Admin Status">
			<FormEntry name="username" label="Username">
				<FormInput></FormInput>
			</FormEntry>
			<FormEntry name="admin" label="Is Admin">
				<FormCheckbox></FormCheckbox>
			</FormEntry>
		</FormEasy>
	</section>
	<section>
		<h3>Delete A User</h3>
		<FormEasy onSubmitted="deleteUser" submitText="Delete User">
			<p>NOTE: ALL INFORMATION WILL BE PERMANENTLY DELETED!</p>
			<FormEntry name="username" label="Username">
				<FormInput></FormInput>
			</FormEntry>
			<FormEntry name="verify" label="Type DELETE">
				<FormInput></FormInput>
			</FormEntry>
		</FormEasy>
	</section>
</div>
