<div>
	<div class="links">
		<p><a href="javascript:;" onclick="openEditPopup">Edit</a></p>
		<p><a href="javascript:;" onclick="openDeletePopup">Delete</a></p>
	</div>
	<TransactionList editable>
	</TransactionList>
</div>
