.ReportViewPage .report table {
	border-spacing: 0;
}
.ReportViewPage .report table tr.header {
	border-bottom: 1px solid currentColor;
}
.ReportViewPage .report table td {
	padding: .25rem .5rem;
}
.ReportViewPage .report table td:not(:first-child) {
	text-align: right;
}
.ReportViewPage .report table tr.total td,
.ReportViewPage .report table td.total,
.ReportViewPage .report table td.average {
	font-weight: bold;
}
.ReportViewPage .report table tr.subtotal td {
	border-top: 1px solid currentColor;
	border-bottom: 1px solid currentColor;
}
.ReportViewPage .report table tr.subtotal + tr:is(.subtotal, .total) td {
	border-top: 0;
}
.ReportViewPage .report table tr.total td {
	border-top: 3px double currentColor;
}
