<div>
	<section class="heading">
		<h1>Import into <span class="accountName"></span></h1>
		<p><a class="returnLink" href="#page=accountView">&larr; Return to the account view.</a></p>
	</section>
	<section class="chooseFiles">
		<FormEasy onSubmitted="chooseFiles" submitText="Next">
			<h2>Choose Files to Import</h2>
			<p>They should all have the same extension, and .qfx, .ofx, and .csv are currently accepted.</p>
			<div class="entry files">
				<FormFiles name="files" multiple></FormFiles>
			</div>
		</FormEasy>
	</section>
	<section class="configureOFX hidden">
		<FormEasy onSubmitted="configureOFX" submitText="Next">
			<h2>Configure the Data</h2>
			<FormEntry name="reverseDirection" label="Reverse the direction of the imported transactions.">
				<FormCheckbox value=""></FormCheckbox>
			</FormEntry>
		</FormEasy>
	</section>
	<section class="configureCSV hidden">
		<FormEasy onSubmitted="configureCSV" submitText="Next">
			<h2>Configure the Data</h2>
			<FormEntry name="delim" label="Set the CSV Delimiter">
				<FormSelect value="Comma">
					<option value="Comma">Comma</option>
					<option value="Tab">Tab</option>
					<option value="Space">Space</option>
					<option value="Semicolon">Semicolon</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="trimFirstLines" label="Number of lines before the headers or first row of data">
				<FormInput value="0"></FormInput>
			</FormEntry>
			<FormEntry name="trimLastLines" label="Number of lines after the last row of data">
				<FormInput name="trimLastLines" value="0"></FormInput>
			</FormEntry>
			<FormEntry name="hasHeaders" label="Do the files contain headers? The first file will be used.">
				<FormCheckbox></FormCheckbox>
			</FormEntry>
		</FormEasy>
	</section>
	<section class="configureCSVHeaders hidden">
		<FormEasy onSubmitted="configureCSVHeaders" submitText="Next">
			<h2>Configure the CSV Headers</h2>
			<FormEntry name="date" label="Date (Required)">
				<FormSelect value="*Not used*">
					<option value="*Not used*">*Not used*</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="dateFormat" label="Date Format (Time is always parsed as hh:mm:ss[.s+])">
				<FormSelect value="mm?[-/]dd?[-/]yyyy">
					<option value="mm?[-/]dd?[-/]yyyy">mm?[-/]dd?[-/]yyyy</option>
					<option value="dd?[-/]mm?[-/]yyyy">dd?[-/]mm?[-/]yyyy</option>
					<option value="yyyy-mm-dd">yyyy-mm-dd</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="amount" label="Amount (Required)">
				<FormSelect value="*Not used*">
					<option value="*Not used*">*Not used*</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="amountOther" label="Amount In Other Account">
				<FormSelect value="*Not used*">
					<option value="*Not used*">*Not used*</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="description" label="Description">
				<FormSelect value="*Not used*">
					<option value="*Not used*">*Not used*</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="description2" label="An Appended Description">
				<FormSelect value="*Not used*">
					<option value="*Not used*">*Not used*</option>
				</FormSelect>
			</FormEntry>
			<FormEntry name="institutionId" label="Unique Transaction ID From the Institution">
				<FormSelect value="*Not used*">
					<option value="*Not used*">*Not used*</option>
				</FormSelect>
			</FormEntry>
		</FormEasy>
	</section>
	<section class="reviewTransactions hidden">
		<h2>Review the Transactions</h2>
		<FormEasy onSubmitted="importTransactions" submitText="Import Transactions">
			<h3>New Transactions</h3>
			<p>They will be imported as unreviewed.</p>
			<div class="transactions new"></div>
			<h3>Duplicate Transactions (will not be overwritten)</h3>
			<div class="transactions duplicate"></div>
		</FormEasy>
	</section>
</div>
