.TransactionsImportPage > .chooseFiles .FormFiles {
	width: 100%;
	max-width: 20rem;
	border: 1px dotted var(--color3-dark);
	padding: 1rem;
}
.TransactionsImportPage > .chooseFiles .FormFiles.over {
	border: 1px solid var(--color3-dark);
}
.TransactionsImportPage > .chooseFiles .FormFiles input {
	margin-bottom: .25rem;
}
.TransactionsImportPage > .chooseFiles .FormFiles .list {
	max-height: 10rem;
	overflow-y: auto;
	background: var(--color2-light);
	border: .25rem solid var(--color2-light);
	border-radius: .25rem;
}
.TransactionsImportPage > .chooseFiles .FormFiles .list:empty {
	border: 0;
}
.TransactionsImportPage > .chooseFiles .FormFiles .list p:last-child {
	margin-bottom: 0.25rem;
}
.TransactionsImportPage > .configureCSV .FormEntry {
	grid-template-columns: 16rem 1fr;
}
.TransactionsImportPage > .configureCSV .delim {
	width: 100%;
	max-width: 12rem;
}
.TransactionsImportPage > .configureCSV .trimFirstLines,
.TransactionsImportPage > .configureCSV .trimLastLines {
	width: 100%;
	max-width: 12rem;
}

.TransactionsImportPage > .reviewTransactions .transactions {
	margin-bottom: 1rem;
}
.TransactionsImportPage > .reviewTransactions .transactions .row {
	margin-bottom: .5rem;
	border: 1px solid var(--color3-dark);
	display: grid;
	grid-template-columns: 3rem 7rem 10fr 16fr 10fr;
	grid-template-rows: 2rem 2rem 2rem;
	grid-template-areas:
		"from dateFrom amountFrom accountFrom institutionIdFrom"
		"to dateTo amountTo accountTo institutionIdTo"
		". description description description description";
}
.TransactionsImportPage > .reviewTransactions .transactions .row * {
	padding: .25rem;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .from {
	grid-area: from;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .to {
	grid-area: to;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .dateFrom {
	grid-area: dateFrom;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .dateTo {
	grid-area: dateTo;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .amountFrom {
	grid-area: amountFrom;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .amountTo {
	grid-area: amountTo;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .accountFrom {
	grid-area: accountFrom;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .accountTo {
	grid-area: accountTo;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .description {
	grid-area: description;
	overflow-x: auto;
	text-wrap: nowrap;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .institutionIdFrom {
	grid-area: institutionIdFrom;
	overflow-x: auto;
	text-wrap: nowrap;
}
.TransactionsImportPage > .reviewTransactions .transactions .row .institutionIdTo {
	grid-area: institutionIdTo;
	overflow-x: auto;
	text-wrap: nowrap;
}
