<div>
	<div class="links">
		<p><a href="javascript:;" onclick="openEditPopup">Edit</a></p>
		<p><a href="javascript:;" onclick="openDeletePopup">Delete</a></p>
		<p><a href="javascript:;" onclick="newConversionRatePopupShow">New Conversion Rate Entry</a></p>
	</div>
	<FormEasy class="filter" onSubmitted="filterSubmitted">
		<FormEntry name="otherUnitId" label="Choose another Unit"><UnitChooser></UnitChooser></FormEntry>
		<FormEntry name="startDate" label="Start Date"><RelativeDateChooser></RelativeDateChooser></FormEntry>
		<FormEntry name="endDate" label="End Date"><RelativeDateChooser></RelativeDateChooser></FormEntry>
	</FormEasy>
	<div class="conversionRates"></div>
</div>
