<section class="edit">
	<h1>Batch Edit Transactions</h1>
	<FormEasy onCanceled="onFormCanceled" onSubmitted="onFormSubmitted" submitText="Save">
		<FormEntry name="accountIdFrom" label="Account From to Apply"><AccountChooser value="*No Change*" showAdd>
			<option value="*No Change*">*No Change*</option>
			<option value="*Clear*">*Clear*</option>
		</AccountChooser></FormEntry>
		<FormEntry name="accountIdTo" label="Account To to Apply"><AccountChooser value="*No Change*" showAdd>
			<option value="*No Change*">*No Change*</option>
			<option value="*Clear*">*Clear*</option>
		</AccountChooser></FormEntry>
		<FormEntry name="categoryId" label="Category to Apply"><CategoryChooser value="*No Change*" showAdd>
			<option value="*No Change*">*No Change*</option>
			<option value="*Clear*">*Clear*</option>
		</CategoryChooser></FormEntry>
		<FormEntry name="reviewed" label="Mark as Reviewed"><FormSelect value="*No Change*">
			<option value="*No Change*">*No Change*</option>
			<option value="no">No</option>
			<option value="yes">Yes</option>
		</FormSelect></FormEntry>
	</FormEasy>
</section>
<section class="delete">
	<h1>Batch Delete Transactions</h1>
	<FormEasy onSubmitted="deleteRule" submitText="Delete Transactions">
		<p>NOTE: THESE TRANSACTIONS WILL BE PERMANENTLY DELETED!</p>
		<FormEntry name="verify" label="Type DELETE"><FormInput></FormInput></FormEntry>
	</FormEasy>
</section>
