<div>
	<div class="decade_dec" class="clickable no-select" onclick="_decadeDec">
		<svg viewBox="0 0 32 32">
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="20,4 4,16 20,27" />
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="28,4 12,16 28,27" />
		</svg>
	</div>
	<div class="year_dec" class="clickable no-select" onclick="_yearDec">
		<svg viewBox="0 0 32 32">
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="24,4 8,16 24,27" />
		</svg>
	</div>
	<div class="year_current" class="year_current no-select"></div>
	<div class="year_inc" class="clickable" onclick="_yearInc">
		<svg viewBox="0 0 32 32">
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="8,4 24,16 8,27" />
		</svg>
	</div>
	<div class="decade_inc" class="clickable no-select" onclick="_decadeInc">
		<svg viewBox="0 0 32 32">
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="12,4 28,16 12,27" />
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="4,4 20,16 4,27" />
		</svg>
	</div>
	<div class="month_dec" class="clickable no-select" onclick="_monthDec">
		<svg viewBox="0 0 32 32">
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="24,4 8,16 24,27" />
		</svg>
	</div>
	<div class="month_current" class="month_current no-select"></div>
	<div class="month_inc" class="clickable no-select" onclick="_monthInc">
		<svg viewBox="0 0 32 32">
			<polyline stroke="currentColor" stroke-width="2" fill="none" points="8,4 24,16 8,27" />
		</svg>
	</div>
	<div class="week no-select">S</div>
	<div class="week no-select">M</div>
	<div class="week no-select">T</div>
	<div class="week no-select">W</div>
	<div class="week no-select">T</div>
	<div class="week no-select">F</div>
	<div class="week no-select">S</div>
	<div class="day_0" class="no-select" onclick="_onClick"></div>
	<div class="day_1" class="no-select" onclick="_onClick"></div>
	<div class="day_2" class="no-select" onclick="_onClick"></div>
	<div class="day_3" class="no-select" onclick="_onClick"></div>
	<div class="day_4" class="no-select" onclick="_onClick"></div>
	<div class="day_5" class="no-select" onclick="_onClick"></div>
	<div class="day_6" class="no-select" onclick="_onClick"></div>
	<div class="day_7" class="no-select" onclick="_onClick"></div>
	<div class="day_8" class="no-select" onclick="_onClick"></div>
	<div class="day_9" class="no-select" onclick="_onClick"></div>
	<div class="day_10" class="no-select" onclick="_onClick"></div>
	<div class="day_11" class="no-select" onclick="_onClick"></div>
	<div class="day_12" class="no-select" onclick="_onClick"></div>
	<div class="day_13" class="no-select" onclick="_onClick"></div>
	<div class="day_14" class="no-select" onclick="_onClick"></div>
	<div class="day_15" class="no-select" onclick="_onClick"></div>
	<div class="day_16" class="no-select" onclick="_onClick"></div>
	<div class="day_17" class="no-select" onclick="_onClick"></div>
	<div class="day_18" class="no-select" onclick="_onClick"></div>
	<div class="day_19" class="no-select" onclick="_onClick"></div>
	<div class="day_20" class="no-select" onclick="_onClick"></div>
	<div class="day_21" class="no-select" onclick="_onClick"></div>
	<div class="day_22" class="no-select" onclick="_onClick"></div>
	<div class="day_23" class="no-select" onclick="_onClick"></div>
	<div class="day_24" class="no-select" onclick="_onClick"></div>
	<div class="day_25" class="no-select" onclick="_onClick"></div>
	<div class="day_26" class="no-select" onclick="_onClick"></div>
	<div class="day_27" class="no-select" onclick="_onClick"></div>
	<div class="day_28" class="no-select" onclick="_onClick"></div>
	<div class="day_29" class="no-select" onclick="_onClick"></div>
	<div class="day_30" class="no-select" onclick="_onClick"></div>
	<div class="day_31" class="no-select" onclick="_onClick"></div>
	<div class="day_32" class="no-select" onclick="_onClick"></div>
	<div class="day_33" class="no-select" onclick="_onClick"></div>
	<div class="day_34" class="no-select" onclick="_onClick"></div>
	<div class="day_35" class="no-select" onclick="_onClick"></div>
	<div class="day_36" class="no-select" onclick="_onClick"></div>
	<div class="day_37" class="no-select" onclick="_onClick"></div>
	<div class="day_38" class="no-select" onclick="_onClick"></div>
	<div class="day_39" class="no-select" onclick="_onClick"></div>
	<div class="day_40" class="no-select" onclick="_onClick"></div>
	<div class="day_41" class="no-select" onclick="_onClick"></div>
</div>
