<div>
	<h3>Filter Transactions</h3>
	<FormEasy onCanceled="onFormCanceled" onSubmitted="onFormSubmitted" submitText="Filter">
		<FormEntry name="accountId1" label="Account">
			<AccountChooser>
				<option value=""></option>
			</AccountChooser>
		</FormEntry>
		<FormEntry name="accountId2" label="Second Account">
			<AccountChooser>
				<option value=""></option>
			</AccountChooser>
		</FormEntry>
		<FormEntry name="categoryId" label="Category">
			<CategoryChooser>
				<option value=""></option>
			</CategoryChooser>
		</FormEntry>
		<FormEntry name="minAmount" label="Min Amount">
			<FormNumberInput></FormNumberInput>
		</FormEntry>
		<FormEntry name="maxAmount" label="Max Amount">
			<FormNumberInput></FormNumberInput>
		</FormEntry>
		<FormEntry name="startDate" label="Start Date">
			<RelativeDateChooser></RelativeDateChooser>
		</FormEntry>
		<FormEntry name="endDate" label="End Date">
			<RelativeDateChooser></RelativeDateChooser>
		</FormEntry>
		<FormEntry name="search" label="Search">
			<FormInput></FormInput>
		</FormEntry>
		<FormEntry name="reviewed" label="Reviewed">
			<FormSelect name="reviewed" value="">
				<option value=""></option>
				<option value="no">No</option>
				<option value="yes">Yes</option>
			</FormSelect>
		</FormEntry>
	</FormEasy>
</div>
