.FilterForm {
	max-width: 30rem;
}
.FilterForm .entries {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(1fr);
	grid-template-areas:
		"account category"
		"minAmount maxAmount"
		"startDate endDate"
		"search reviewed";
	gap: .5rem;
}
.FilterForm .FormEasy > .entries .entry + .entry {
	margin-top: 0;
}
@media (max-width: 35rem) {
	.FilterForm .entries {
		display: flex;
		flex-direction: column;
	}
}
.FilterForm .title {
	grid-area: title;
}
.FilterForm .note {
	grid-area: note;
}
.FilterForm .reviewed {
	grid-area: reviewed;
	width: 5rem;
}
.FilterForm .category {
	grid-area: category;
}
.FilterForm .startDate {
	grid-area: startDate;
}
.FilterForm .endDate {
	grid-area: endDate;
}
.FilterForm .minAmount {
	grid-area: minAmount;
}
.FilterForm .maxAmount {
	grid-area: maxAmount;
}
.FilterForm .search {
	grid-area: search;
}
.FilterForm .account {
	grid-area: account;
}
.FilterForm .buttons {
	text-align: right;
}
.FilterForm .reviewed {
	width: 4rem;
}
.FilterForm .minAmount,
.FilterForm .maxAmount {
	width: 14rem;
}
.FilterForm .categoryId,
.FilterForm .accountIdFrom,
.FilterForm .accountIdTo {
	width: 12rem;
}
.FilterForm .startDate,
.FilterForm .endDate {
	width: 14rem;
}
.FilterForm .search {
	width: 12rem;
}
