.RelativeDateChooser {
	display: flex;
	flex-direction: column;
}
.RelativeDateChooser > .custom {
	margin-top: .25rem;
	border-radius: .25rem;
	background: var(--color3-light);
	color: var(--color3-dark);
	padding: .25rem;
}
