<div>
	<FormInput class="hiddenInput" type="hidden"></FormInput>
	<FormSelect class="list" onChanged="updateValueFromFields" value=",,,"></FormSelect>
	<div class="custom hidden">
		<div class="entry relativeToToday"><label>
			<div class="label">Relative to today</div>
			<FormCheckbox onChanged="updateValueFromFields"></FormCheckbox>
		</label></div>
		<div class="entry absolute"><label>
			<div class="label">Or relative to this date</div>
			<DateChooser onChanged="updateValueFromFields"></DateChooser>
		</label></div>
		<div class="entry offset"><label>
			<div class="label">Offset</div>
			<FormInput onChanged="updateValueFromFields" value="0"></FormInput>
		</label></div>
		<div class="entry period"><label>
			<div class="label">Period</div>
			<FormSelect onChanged="updateValueFromFields" value="days">
				<option value="days">Days</option>
				<option value="weeks">Weeks</option>
				<option value="months">Months</option>
				<option value="quarters">Quarters</option>
				<option value="years">Years</option>
			</FormSelect>
		</label></div>
		<div class="entry align"><label>
			<div class="label">Alignment</div>
			<FormSelect onChanged="updateValueFromFields" value="">
				<option value="">None</option>
				<option value="beginning">Beginning of period</option>
				<option value="ending">Ending of period</option>
			</FormSelect>
		</label></div>
	</div>
</div>
