.RuleEditPopup .window {
	width: 31rem;
}
.RuleEditPopup .FormEntry {
	grid-template-columns: 12rem 1fr;
}
.RuleEditPopup [name="amountMatch"],
.RuleEditPopup [name="categoryId"],
.RuleEditPopup [name="accountId"],
.RuleEditPopup [name="onlyOnAccountId"] {
	width: 8rem;
	max-width: 100%;
}
.RuleEditPopup .edit [name="searchMatch"],
.RuleEditPopup .edit [name="notes"] {
	width: 16rem;
	max-width: 100%;
}
