<h1>Split a Transaction</h1>
<FormEasy onCanceled="onFormCanceled" onSubmitted="onFormSubmitted" submitText="Split">
	<div class="row header">
		<div class="first">Category</div>
		<div class="from">Amount From</div>
		<div class="to">Amount To</div>
		<div></div>
	</div>
	<FormList class="entries" nograb>
		<div class="row">
			<CategoryChooser class="first"></CategoryChooser>
			<FormNumberInput class="from" onchanged="updateTotals|from"></FormNumberInput>
			<FormNumberInput class="to" onchanged="updateTotals|to"></FormNumberInput>
		</div>
	</FormList>
	<div class="row total">
		<div class="first">Total</div>
		<div class="from totalAmountFrom"></div>
		<div class="to totalAmountTo"></div>
	</div>
	<div class="row total">
		<div class="first">Transaction</div>
		<div class="from transactionAmountFrom"></div>
		<div class="to transactionAmountTo"></div>
	</div>
</FormEasy>
