<div>
	<p><a href="javascript:;" onclick="applyAllRules">Apply All Rules</a></p>
	<p><a href="javascript:;" onclick="showBatchChangePopup">Batch Change</a></p>
	<p><a href="javascript:;" onclick="showNewTransaction">New Transaction</a></p>
	<p><a href="javascript:;" onclick="openFilterPopup">Filter</a></p>
	<div class="sort">
		<a href="javascript:;" onclick="setSortMode|date">Date</a>
		<a href="javascript:;" onclick="setSortMode|reviewed">Reviewed</a>
		<a href="javascript:;" onclick="setSortMode|amount">Amount</a>
	</div>
	<div class="list">
	</div>
</div>
